<ion-header>
    <ion-toolbar>
        <ion-title>
            Test
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- List of Text Items -->
    <ion-list>
        <ion-item>
            <ion-label (click)="presentModal('Fan')">Fan</ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="presentModal('Window')">Window</ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="presentModal('Bed')">Bed</ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="presentModal('Lamp')">Lamp</ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="presentModal('Fridge')">Fridge</ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="presentModal('TV')">TV</ion-label>
        </ion-item>
    </ion-list>
   </ion-content>

<!--<ion-content id="ionContent">
    <canvas id="BoundingBoxCanvas"></canvas>
</ion-content>-->

