<ion-header>
  <ion-toolbar>
    <ion-title>
      Introduction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="./assets/Intro_Banner.jpeg"></ion-img>
        <ion-card-header>
            <ion-card-title class="title">Welcome to <br/>Hotel ER Controller</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            This application is created to make your stay at our hotel easier.
            With this application you can scan the room for objects and communicate with them.
            <br /><br />
            To scan the room for objects go to the camera tab and point the camera to any object.
            <br /><br />
            The following objects are possible to interact with:
            <br /><br />
                  <ion-list>
                      <ion-item>
                          <ion-avatar>
                              <img src="./assets/Windows_Icon.jpg">
                          </ion-avatar>
                          <ion-label>Windows/Curtains</ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-avatar>
                              <img src="./assets/Bed_Icon.jpg">
                          </ion-avatar>
                          <ion-label>Bed</ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-avatar>
                              <img src="./assets/Fridge_Icon.svg">
                          </ion-avatar>
                          <ion-label>Fridge</ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-avatar>
                              <img src="./assets/Lamp_Icon.jpg">
                          </ion-avatar>
                          <ion-label>Lamp</ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-avatar>
                              <img src="./assets/TV_Icon.jpg">
                          </ion-avatar>
                          <ion-label>Television</ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-avatar>
                              <img src="./assets/Fan_Icon.jpg">
                          </ion-avatar>
                          <ion-label>Fan</ion-label>
                      </ion-item>
                  </ion-list>



        </ion-card-content>
    </ion-card>
</ion-content>


